flows (1).json
[{"id":"d99ef41a.265098","type":"ibmiot in","z":"1ddb2811.d4fca8","authentication":"apiKey","apiKey":"3064be3a.6d2482","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"181016","applicationId":"","deviceType":"IOTDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":140,"wires":[["2d663bd3.19a554","3c42fef.7570702","11ea827f.7f179e","88cdeb47.b17708","24616fad.3cbea","550e277e.e1eac8","f1301d9e.4c04f","3d2c1135.a9cd5e"]]},{"id":"2d663bd3.19a554","type":"debug","z":"1ddb2811.d4fca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":140,"wires":[]},{"id":"3c42fef.7570702","type":"function","z":"1ddb2811.d4fca8","name":"Temperature","func":"msg.payload = msg.payload.temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":180,"wires":[["2d663bd3.19a554","acf38f7e.0d646"]]},{"id":"11ea827f.7f179e","type":"function","z":"1ddb2811.d4fca8","name":"pH","func":"msg.payload = msg.payload.pH_Value\nglobal.set('pH',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":220,"wires":[["2d663bd3.19a554","79c3e18a.3ba07"]]},{"id":"acf38f7e.0d646","type":"ui_chart","z":"1ddb2811.d4fca8","name":"","group":"569b09d5.0bf318","order":1,"width":10,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"10","ymax":"50","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":180,"wires":[[]]},{"id":"79c3e18a.3ba07","type":"ui_gauge","z":"1ddb2811.d4fca8","name":"","group":"569b09d5.0bf318","order":2,"width":5,"height":4,"gtype":"gage","title":"pH","label":"%","format":"{{value}}","min":0,"max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":220,"wires":[]},{"id":"88cdeb47.b17708","type":"function","z":"1ddb2811.d4fca8","name":"Conductivity","func":"msg.payload = msg.payload.Conductivity\nglobal.set('c',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":260,"wires":[["6e4616a9.707ac8","2d663bd3.19a554"]]},{"id":"6e4616a9.707ac8","type":"ui_gauge","z":"1ddb2811.d4fca8","name":"","group":"569b09d5.0bf318","order":3,"width":5,"height":4,"gtype":"gage","title":"Conductivity","label":"%","format":"{{value}}","min":"100","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":260,"wires":[]},{"id":"f4f2bea.bb8c74","type":"http in","z":"1ddb2811.d4fca8","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":170,"y":520,"wires":[["198cafc3.f5014"]]},{"id":"bd5424f7.cbe578","type":"http response","z":"1ddb2811.d4fca8","name":"","statusCode":"","headers":{},"x":690,"y":520,"wires":[]},{"id":"198cafc3.f5014","type":"function","z":"1ddb2811.d4fca8","name":"","func":"msg.payload={\"temp\":global.get('t'),\"pH\":global.get('pH'),\"con\":global.get('c'),\"sms\":global.get('s'),\"tur\":global.get('tu'),\"oxi\":global.get('o')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":520,"wires":[["bd5424f7.cbe578"]]},{"id":"3d2c1135.a9cd5e","type":"cloudant out","z":"1ddb2811.d4fca8","name":"","cloudant":"","database":"waterquality","service":"node-red-rvidz-2021--cloudant-1625752179882-55339","payonly":true,"operation":"insert","x":710,"y":380,"wires":[]},{"id":"c1299220.f3e1d","type":"rbe","z":"1ddb2811.d4fca8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":290,"y":440,"wires":[["923f4055.2d636"]]},{"id":"24616fad.3cbea","type":"function","z":"1ddb2811.d4fca8","name":"sms","func":"msg.payload = msg.payload.sms\nglobal.set('s',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":440,"wires":[["c1299220.f3e1d"]]},{"id":"22f4b45e.33dd0c","type":"debug","z":"1ddb2811.d4fca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":440,"wires":[]},{"id":"923f4055.2d636","type":"switch","z":"1ddb2811.d4fca8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":440,"wires":[["c0ba19ad.b6a7e8","22f4b45e.33dd0c"]]},{"id":"c0ba19ad.b6a7e8","type":"http request","z":"1ddb2811.d4fca8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=sxi3wHNID7tQ4Tjyu0SVUvEgZapbrzGAX9q85kPlfOFcKeBLhW5eqyvC8OoJrpXnWUjNhbzA3EgxaZRB&route=q&message=Prefer%20not%20to%20drink%20water&language=english&flash=0&numbers=8179521130","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":460,"wires":[["22f4b45e.33dd0c"]]},{"id":"550e277e.e1eac8","type":"function","z":"1ddb2811.d4fca8","name":"Turbidity","func":"msg.payload = msg.payload.turbidity\nglobal.set('tu',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["21ad016d.1d663e","2d663bd3.19a554"]]},{"id":"f1301d9e.4c04f","type":"function","z":"1ddb2811.d4fca8","name":"oxi","func":"msg.payload = msg.payload.Oxidation_reduction_potential\nglobal.set('o',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":340,"wires":[["6c490219.5ace3c","2d663bd3.19a554"]]},{"id":"21ad016d.1d663e","type":"ui_gauge","z":"1ddb2811.d4fca8","name":"","group":"569b09d5.0bf318","order":4,"width":5,"height":4,"gtype":"gage","title":"Turbidity","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":300,"wires":[]},{"id":"6c490219.5ace3c","type":"ui_gauge","z":"1ddb2811.d4fca8","name":"","group":"569b09d5.0bf318","order":5,"width":5,"height":4,"gtype":"gage","title":"oxi","label":"units","format":"{{value}}","min":"500","max":"900","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":340,"wires":[]},{"id":"3064be3a.6d2482","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"569b09d5.0bf318","type":"ui_group","name":"Sensor Data","tab":"2fa13ea1.547f72","order":1,"disp":true,"width":10,"collapse":false},{"id":"2fa13ea1.547f72","type":"ui_tab","name":"River Water Quality Monitor ","icon":"dashboard","disabled":false,"hidden":false}]